@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap%27');

body{
	background-color: #24464D;
}

nav{
	background-color: #24464D;
	height: 40px;
	border-radius: 2px;
	box-shadow: 0px 1px 1px black;
}

.wrapper{
	font-family: Share Tech Mono;
	margin-right: auto;
	margin-left: auto;

	max-width: 900px;

	padding-right: 10px;
	padding-left: 10px;
	background-color: #24464D;
	height: 1000px;
}
.wrapper h1{
	color: #09CDDA;
}
.wrapper p{
	font-size: 16px;
	color: #09CDDA;
}


.wrapper a{
	text-decoration: none;
}
.wrapper a:visited{
	color:blue;
}
.wrapper ul{
	list-style-type: none;
}
.wrapper ul li{
	margin: 20px;
	padding: 10px;
	border: 4px;
	border-style: dashed;
	border-color: #102225;
	background-color: #09CDDA;
	
}

#background {
	color: #000000;
	background-color:#09CDDA;
	padding: 10px;
}