@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap%27');
 
body{
	background-color: #182e33;
	margin: 0px;
	padding: 0px;
}

nav{
	background-color: #182e33;
	height: 50px;
	border-radius: 2px;
	box-shadow: 0px 1px 1px black;
	width: 100%;
	margin-bottom: 10px;
	display: flex;
}
nav h1{
	margin:0px;
	padding: 0px;
	font-family: Share Tech Mono;
	font-size: 42px;
}
nav p {
	font-size: 24px;
	color: #09CDDA;
	font-family: Share Tech Mono;
	display: flex;
}

nav a {
	margin: 0px;
	padding: 0px;
	font-family: Share Tech Mono;
	text-decoration: none;
	color: #04818a;
	font-size: 24px;
}
nav a :hover{
	color: #09CDDA;
}

a {
	margin: 0px;
	padding: 0px;
	font-family: Share Tech Mono;
	text-decoration: none;
	color: #04818a;
	font-size: 24px;
}
a :hover{
	color: #09CDDA;

}
a :visited{
	color: #04818a;
}
#title {
	height: 50px;
	width: 175px;
	background-color: hotpink;
}


.wrapper{
	font-family: Share Tech Mono;
	margin-right: auto;
	margin-left: auto;

	max-width: 900px;

	padding-right: 10px;
	padding-left: 10px;
	background-color: #182e33;
	height: 1000px;
}
.wrapper h1{
	color: #09CDDA;
}
.wrapper p{
	font-size: 24px;
	color: #FFFFFF;

}

.wrapper a{
	text-decoration: none;
	color: #04818a;
	font-size: 24px;
}
.wrapper a:hover{
	color: #09CDDA;
}
.wrapper a:visited{
	color: #04818a;
}
.wrapper ul{
	list-style-type: none;
}
.wrapper ul li{
	margin: 20px;
	padding: 10px;
	border: 4px;
	border-style: dashed;
	border-color: #102225;
	background-color: #09CDDA;
	
}
#background {
	color: #000000;
	background-color:#09CDDA;
	padding: 10px;
}
.navtop{
	background-color: hotpink;
	height: 25px;
	width: 100%;
	margin-bottom: 10px;
	display:flex;

}
.important-text{
	color: #09CDDA;
	font-family: Share Tech Mono;
	font-size: 24px;
}

