<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>CODE<>IT</title>
  </head>
  <body>
    {% block flash %}{% endblock flash %}
    <nav>
      <div id = "title">
        <h1>HACK_IT</h1>
      </div>
      <div class ="navtop">
        <a href="/logout"> [LOG OUT]</a>
        <div class = "important-text">{{nick}}</div>
      </div>
    </nav>
    {% block back%}{% endblock back%}
    <div class="wrapper">
      {% block wrapper %}{% endblock wrapper %}
    </div>

  </body>
 </html>
