<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
  </head>
  <body>
    <div class="wrapper">
      <h1> Here are some challenges </h1>
      <ul>
      {% for challenge in names %}
      <li>{{ challenge }}</li>
      {% endfor %}
      </ul>
    </div>
  </body>
</html>
