<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h1> Here are some challenges </h1>
    <ul>
    {% for challenge in names %}
    <li>{{ challenge }}</li>
    {% endfor %}
    </ul>
  </body>
</html>
