{% extends "base" %}
{% block flash %}
   {% if flash %}
        {{flash}}
    {% endif %}
{% endblock flash %}


{% block wrapper %}
<h1> {{challenge.name}} </h1>
    <p>{{challenge.desc}} </p>
    <p>{{challenge.spec}} </p>
    <a href="/challenges/{{challenge.id}}/scenario"> link to question input </a>
    <form method="post">
        <input type="text" name="ans">
        <input type="submit" value="(Submit)">
    </form>
{% endblock wrapper %}
