<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>CODE<>IT</title>
  </head>
  <body>
    <div class="wrapper">
      <h1 id="background">Welcome to hack_IT!</h1>
      <p>to acces the challenges, please log in on gamma!</p>
      <a href="{{auth_url}}"> [=LOGIN=] </a>
    </div>

  </body>
 </html>
