<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>CODE<>IT</title>
  </head>
  <body>
    <div class="wrapper">
      <h1 id="background">Welcome to hack_IT!</h1>
      {% if group_name %}
        <p> To login as {{group_name}} click <a href="/login/{{group_name}}"> [Here] </a></p>
      {% else %}
        <p> to start press <a href="/login/player"> [Here] </a> </p>
      {% endif %}
    </div>

  </body>
 </html>

